.parameter {
  display: flex;
  justify-content: space-between;
  & > * {
    width: 30%;
  }
  .type {
    width: 10%;
  }
  input,
  select {
    width: 100%;
  }
  &.header {
    border-bottom: 1px #000000 solid;
    margin-bottom: 1em;
  }
}
