
<select [(ngModel)]="url" (change)="loadFile()">
    @for (dir of files; track $index) {
        <optgroup>{{dir.dirName}}</optgroup>
        @for(file of dir.files; track $index){
            <option [value]="dir.dirName + '/' + file">{{file}}</option>
        }
    }
</select>
<div class="content">
    @if(loaded$ | async){
        <div class="form">
            <h1>
                {{(loaded$ | async)?.vstName}}
            </h1>
            <div>
                type : 
                @if((loaded$ | async)?.type === "" || (loaded$ | async)?.type === undefined){
                    <input [(ngModel)]="type">
                } @else {
                    {{(loaded$ | async)?.type}}
                }
            </div>
            <h2>Paramètres</h2>
            <ul>
                <li class="parameter header">
                    <div>nom</div><div class="type">type</div><div>catégorie</div>
                </li>
                @for(param of (loaded$ | async)?.parameters; track $index){
                    <li class="parameter">
                        <label [for]="param.name">{{param.name}}</label>
                        <select [(ngModel)]="typeParamOf[$index]" [name]="param.name" class="type">
                            @for(type of typeParam; track $index){
                                <option>{{type}}</option>
                            }
                        </select>
                        <div>
                            <select [(ngModel)]="category[$index]">
                                @for(paramCat of paramCats; track paramCat){
                                    <optgroup>{{paramCat.categoryName}}</optgroup>
                                    @for (paramAsign of paramCat.childrenParam; track paramAsign) {
                                        @if (paramAsign.type == param.type){
                                           <option>{{paramAsign.paramName}}</option> 
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </li>
                }
            </ul>
            <button (click)="submit()">
                ENREGISTRER
            </button>
        </div>
        
    }
    @if(globalExport !== ""){
        <div class="export">
            {{globalExport}}
        </div>
    }
</div>

