<select [(ngModel)]="url" (change)="loadFile(url)">
  @for (dir of files; track $index) {
  <optgroup [label]="dir.dirName">
    @for(file of dir.files; track $index){
    <option [value]="dir.dirName + '/' + file">{{ file }}</option>
    }
  </optgroup>
  }
</select>
<div class="content">
  @if(vstHandlerService.loaded$ | async){
  <div class="form">
    <h1>
      {{ (vstHandlerService.loaded$ | async)?.vstName }}
    </h1>
    <app-parameters-by-parts></app-parameters-by-parts>
    <app-parameters></app-parameters>
    <button (click)="submit()">ENREGISTRER</button>
  </div>

  } @if(globalExport !== ""){
  <div class="export">
    {{ globalExport }}
  </div>
  }
</div>
