.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 2em;
  .form {
    flex: 2;
  }
  .export {
    flex: 3;
  }
}

.parameter {
  display: flex;
  justify-content: space-between;
  & > * {
    width: 30%;
  }
  .type {
    width: 10%;
  }
  input,
  select {
    width: 100%;
  }
  &.header {
    border-bottom: 1px #000000 solid;
    margin-bottom: 1em;
  }
}
.part {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.parameter,
.part {
  &:hover {
    background-color: beige;
  }
}
